.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.number {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
}

.action {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
}