.wrapper {
    width: 100%;
    height: 100px;
    margin-top: 32px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    overflow: scroll;
}

.wrapper::-webkit-scrollbar {
    background-color: white;
    width: 2px;
    height: 0;
}

.wrapper::-webkit-scrollbar-thumb {
    background-color: black;
}